h1 {
	width: 800px;
	height: auto;
	margin: auto;
	text-align: center;
}

main {
	width: 800px;
	height: auto;
	margin: auto;
	background-color: lightblue;
	box-sizing: border-box;
	padding: 25px;
}

div {
	padding: 5px 0 5px 0;
}

